<?xml version="1.0"?>
<config>
    <modules>
        <TokoPini_SendOrder>
            <version>1.0.1</version>
        </TokoPini_SendOrder>
    </modules>
    <global>
        <models>
            <SendOrder>
                <class>TokoPini_SendOrder_Model</class>
            </SendOrder>
        </models>
        <helpers>
            <SendOrder>
                <class>TokoPini_SendOrder_Helper</class>
            </SendOrder>  
        </helpers>
      	<events> 
      		<sales_order_invoice_save_after>
                <observers>
                    <tokopiniSendOrder>
                        <class>SendOrder/observer</class>
                        <method>sendOrderDataToApi</method>
                    </tokopiniSendOrder>
                </observers>
            </sales_order_invoice_save_after>
		</events>        
    </global>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sendorder>
											<title>TokoPini SendOrder Settings</title>
										</sendorder>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <TokoPini_SendOrder>
                    <files>
                        <default>TokoPini_SendOrder.csv</default>
                    </files>
                </TokoPini_SendOrder>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sendorder>
            <general>
                <enabled>1</enabled>
                <logging_enabled>1</logging_enabled>
                <apiurl>http://tokopini-api.myapi.es/api/purchases</apiurl>
                <apitoken>paste-your-token-here</apitoken>
            </general> 
            <exclusions>     
                <enable_exclusions>0</enable_exclusions>  
            </exclusions> 
        </sendorder>
    </default>
</config>