<?xml version="1.0"?>
<config>
    <modules>
        <TokoPini_DisplayFeedback>
            <version>1.0.1</version>
        </TokoPini_DisplayFeedback>
    </modules>
    <global>
        <models>
            <DisplayFeedback>
                <class>TokoPini_DisplayFeedback_Model</class>
                <resourceModel>DisplayFeedback_mysql4</resourceModel>
            </DisplayFeedback>
        </models>
        <helpers>
            <DisplayFeedback>
                <class>TokoPini_DisplayFeedback_Helper</class>
            </DisplayFeedback>  
        </helpers>       
    </global>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<displayfeedback>
											<title>TokoPini Display Feedback Settings</title>
										</displayfeedback>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <TokoPini_DisplayFeedback>
                    <files>
                        <default>TokoPini_DisplayFeedback.csv</default>
                    </files>
                </TokoPini_DisplayFeedback>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <tokopini_displayfeedback>
                        <class>DisplayFeedback/observer</class>
                        <method>addBlockAfterContent</method>
                    </tokopini_displayfeedback>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <tokopini_displayfeedback_handle module="TokoPini_DisplayFeedback">
                    <file>displayfeedback.xml</file>
                </tokopini_displayfeedback_handle>
            </updates>
        </layout>
    </frontend>
    <default>
        <displayfeedback>
            <general>
                <enabled>1</enabled>
                <logging_enabled>1</logging_enabled>
                <apiurl>http://tokopini-api.myapi.es/api/feedbacks</apiurl>
                <apitoken>paste-your-token-here</apitoken>
            </general>        
        </displayfeedback>
    </default>
</config>