<?xml version="1.0"?>
<config>
    <modules>
        <TokoPini_ApplyVoucher>
            <version>1.0.1</version>
        </TokoPini_ApplyVoucher>
    </modules>
    <global>
        <models>
            <ApplyVoucher>
                <class>TokoPini_ApplyVoucher_Model</class>
                <resourceModel>ApplyVoucher_mysql4</resourceModel>
            </ApplyVoucher>
        </models>
        <helpers>
            <ApplyVoucher>
                <class>TokoPini_ApplyVoucher_Helper</class>
            </ApplyVoucher>  
        </helpers>      
		<events>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <checkoutApplyCouponProduct>
                        <class>ApplyVoucher/checkout_observer</class>
                        <method>applyVoucher</method>
                    </checkoutApplyCouponProduct>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost> 
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <checkoutApplyCouponOneStep>
                        <class>ApplyVoucher/checkout_observer</class>
                        <method>applyVoucher</method>
                    </checkoutApplyCouponOneStep>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon> 
      		<checkout_controller_onepage_save_shipping_method>
                <observers>
                    <checkoutCheckCouponProduct>
                        <class>ApplyVoucher/checkout_observer</class>
                        <method>checkVoucherBeforeOrder</method>
                    </checkoutCheckCouponProduct>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
      		<checkout_submit_all_after>
                <observers>
                    <checkoutUseCouponProduct>
                        <class>ApplyVoucher/checkout_observer</class>
                        <method>useVoucherAfterOrder</method>
                    </checkoutUseCouponProduct>
                </observers>
            </checkout_submit_all_after>
		</events> 
    </global>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<applyvoucher>
											<title>TokoPini Apply Voucher Settings</title>
										</applyvoucher>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <TokoPini_ApplyVoucher>
                    <files>
                        <default>TokoPini_ApplyVoucher.csv</default>
                    </files>
                </TokoPini_ApplyVoucher>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <applyvoucher>
            <general>
                <enabled>1</enabled>
                <logging_enabled>1</logging_enabled>
                <apiverifycouponurl>http://tokopini-api.myapi.es/api/verify</apiverifycouponurl>
                <apiusecouponurl>http://tokopini-api.myapi.es/api/use</apiusecouponurl>
                <apitoken>paste-your-token-here</apitoken>
            </general>        
        </applyvoucher>
    </default>
</config>